body {
    background-color: rgba(0, 0, 0, 0.043);
}

/* Light blue circle in the top left */
.circle_left {
    width: 600px;
    height: 600px;
    background-color: #a0d8ef;
    border-radius: 50%;
    top: -150px;
    left: -150px;
    z-index: -1;
}

/* Dark blue circle in the bottom right */
.circle_right {
    width: 600px;
    height: 600px;
    background-color: #1a237e;
    border-radius: 50%;
    bottom: -200px;
    right: -200px;
    z-index: -1;
}

/* Binary numbers design */
.digit_circle {
    width: 60px;
    height: 120px;
    background-color: #74a4d4;
    font-size: 2.5rem;
}

.binary_box i {
    cursor: pointer;
    transition: 0.2s;
}

.binary_box i:hover {
    transform: scale(1.2);
}

.bg-white {
    width: 50%;
}

@media screen and (max-width: 627px) {
    .circle_left, .circle_right {
        display: none;
    }

    .bigBox {
        max-width: 100%;
        overflow-y: auto;    
    }

    .bg-white {
        width: 95%;
    }
}